<%= form_with(model: yfcase) do |form| %>
  <% if yfcase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(yfcase.errors.count, "error") %> prohibited this yfcase from being saved:</h2>

      <ul>
        <% yfcase.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :yfcaseCaseNumber %>
    <%= form.text_field :yfcaseCaseNumber %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
